.board {
  margin: 20px;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: auto;
  width: 1500px;
  height: 1200px;
  align-items: center;
}
.board h1 {
  margin-bottom: 20px;
  font-size: 2em;
  color: #333;
}

.post-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
}
