.toolbar {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.toolbar button {
  margin: 0 5px;
  padding: 5px;
  font-size: 24px;
  cursor: pointer;
  background-color: #744197;
  border: none;
  border-radius: 8px;
  color: white;
  box-shadow: 0 5px #5e356f;
  transition: background-color 0.5s ease, box-shadow 0.3s ease;
}
.toolbar button.selected {
  background-color: #eabc3e;
  color: white;
  box-shadow: 0 5px #b6892d;
}

.toolbar button.selected:hover {
  background-color: #d4a636;
  box-shadow: 0 5px #a07829;
}

.toolbar button:hover {
  background-color: #5e356f;
  box-shadow: 0 5px #4c2a4b;
}

.toolbar button:active {
  background-color: #eabc3e;
  box-shadow: 0 3px #b6892d;
  transform: translateY(2px);
}
