.header {
  width: 100%;
  background-image: linear-gradient(to right, #744197 80%, #eabc3e 20%);
  color: rgb(236, 222, 20);
  text-align: center;
  padding: 20px 0;
  position: fixed; /* 헤더를 고정 */
  top: 0; /* 화면의 맨 위에 고정 */
  left: 0; /* 화면의 왼쪽에 고정 */
  z-index: 998; /* 다른 요소들 위에 고정 */
}

.header h1 {
  margin: 0;
}
