.palette {
  display: flex;
  justify-content: center;
  margin-top: 25px;
  width: 100%;
  height: 100px;
}

.color-button {
  width: 40px;
  height: 40px;
  margin: 0 10px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  transition: transform 0.3s, box-shadow 0.3s, background-color 0.3s;
}

.color-button:hover {
  transform: scale(1.2);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.color-button.selected {
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.3), 0 5px rgba(0, 0, 0, 0.2); /* 3D 효과 및 내부 그림자 */
  transform: scale(1.2);
}

.color-button.selected:hover {
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.3), 0 5px rgba(0, 0, 0, 0.2); /* 선택된 버튼 호버 시 쉐도우 색상 */
  transform: scale(1.2);
}
