.sidebar {
  width: 200px;
  background-image: linear-gradient(
    to right,
    rgb(116, 64, 150) 85%,
    #eabc3e 15%
  );
  padding: 20px;
  box-shadow: 10px 10px 5px rgba(163, 161, 161, 0.7);
  position: fixed;
  height: 100%;
  top: 0;
  left: 0;
  overflow-y: auto;
  z-index: 999;
  color: rgb(236, 178, 20);
  text-decoration: none;
  clip-path: polygon(100% 0, 100% 85%, 45% 100%, 0 100%, 0 0);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidebar ul li {
  margin: 10px 0;
  padding: 10px;
  transition: background-color 0.3s ease, color 0.3s ease;
  border-radius: 10px;
  width: 120px;
  position: relative;
  overflow: hidden;
}

.sidebar ul li:hover::before {
  animation-delay: 0s;
}

.sidebar ul li:hover::after {
  animation-delay: 0.1s;
}

.logoTitle {
  margin-bottom: -25px;
}

.profile-picture {
  width: 100px;
  height: 100px;
  background-color: rgb(59, 26, 82);
  border-radius: 50%;
  margin-bottom: 20px;

  background-size: cover;
  background-position: center;
  position: relative;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
  background-image: linear-gradient(rgb(59, 26, 82)),
    linear-gradient(45deg, red, orange, yellow, green, blue, indigo, violet);
  background-origin: border-box;
  background-clip: content-box, border-box;
  transition: border 1s;
}
.profile-picture::before {
  content: "";
  position: absolute;
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  border-radius: 50%;
  border: 5px solid transparent;
  background-image: linear-gradient(
    45deg,
    red,
    red,
    orange,
    yellow,
    green,
    blue,
    indigo,
    violet
  );
  background-origin: border-box;
  background-clip: border-box;
  z-index: -1;
  animation: rainbow 2s linear infinite;
}
@keyframes rainbow {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.profile-picture:hover {
  box-shadow: 0px 0px 5px rgba(236, 178, 20);
  font-size: 18px;
  font-weight: 700;
  cursor: pointer;
}

.start {
  margin: 37px 0;
}

.sidebar ul li:hover {
  background-color: rgb(236, 178, 20);
  color: #570d88;
}

.sidebar ul li::before,
.sidebar ul li::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 10px;
  height: 10px;
  background-color: rgb(236, 178, 20);
  border-radius: 50%;
  opacity: 0;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 0.5s ease, opacity 0.5s ease;
  z-index: -1;
}
.userImg {
  width: 100%;
  height: 100%;
  border-radius: 50px;
  position: absolute;
  top: 0px;
  left: 0px;
}

.sidebar ul li:hover::before {
  opacity: 1;
  transform: translate(-50%, -50%) scale(3);
}

.sidebar ul li:hover::after {
  opacity: 1;
  transform: translate(-50%, -50%) scale(5);
}

.accordion-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease, opacity 0.5s ease;
  opacity: 0;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}

.accordion-content.open {
  max-height: 500px;
  opacity: 1;
}

.accordion-inner {
  background-image: linear-gradient(
    to right,
    rgb(59, 26, 82) 82.2%,
    #b99329 17.8%
  );
  border-radius: 20px;
  padding: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
  width: 240px;
}

.accordion-inner ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.accordion-inner ul li {
  margin: 5px 0;
  padding: 5px;
  transition: background-color 0.3s ease, color 0.3s ease;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
}

.accordion-inner ul li:hover {
  background-color: rgb(236, 178, 20);
  color: #570d88;
}
